$blue_ec: #ecfff5;
$blue_41: #41dcff;
$blue_83: #83e3ff;
$blue_03: #039be5;
$blue_50: #005cbf;
$blue_60: #607D8B;
$blue_57: #57738a;
$blue_39: #394f66;

$green_00: #007119;
$green_57: #578a6e;
$green_37: #37664a;

$red_8a: #8a5551;
$red_5d: #5d2f2e;

$grey_ee: #eeeeee;
$grey_dd: #dddddd;
$grey_cf: #cfd8dc;
$grey_dd: #dddddd;
$grey_99: #999999;
$grey_86: #868e96;

