<div *ngIf="wish">
  <h2>
    <span *ngIf="!editMode">{{wish.name}}</span>
    <span *ngIf="editMode"><input class="form-control" name="name" [(ngModel)]="wish.name" placeholder="name"/></span>
  </h2>
  <table class="table table-bordered">
    <tr>
      <td>
          Name:
      </td>
      <td>{{wish.name}}</td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>
        <span *ngIf="wish.done">Done</span>
        <span *ngIf="!wish.done">Not done</span>
      </td>
    </tr>
  </table>
  <div>

    <button class="btn btn-default" (click)="goBack()">Back to list</button>
    <button *ngIf="!wish.done" class="btn btn-success" (click)="toggleStatus(wish.id)">Done</button>
    <button *ngIf="wish.done" class="btn btn-danger" (click)="toggleStatus(wish.id)">Not done</button>
    <button class="btn btn-danger float-right" (click)="delete()">Delete</button>
  </div>
</div>
