@import "../../assets/scss/variables";

.wishes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  .text {
    position: relative;
    top: -3px;
  }
}

.big-right-checkbox {
  width: 29px;
  text-align: left;
  font-size: 27px;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.hide-done-wishes-wrapper {
  position: relative;
  top: -2px;
}

.radio-label{
  margin-left: 4px;
}
