<h2>Wish list <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h2>

<div class="row">

  <form (ngSubmit)="addWish(wishNameInput.value); wishNameInput.value=''"
        #heroForm="ngForm" class="col-md-6 form-inline">

    <label for="add-new-wish" class="list-inline-item">New wish: </label>
    <input #wishNameInput type="text" class="form-control list-inline-item"/>
    <button type="submit" class="btn btn-default list-inline-item">Add</button>

    <span class="list-inline-item radio-label">to</span>
    <label class="radio-inline list-inline-item">
      <input type="radio" name="addWishToDirection"
             [checked]="wishListService.addWishDirection === direction.START"
             (change)="selectDirectionAddWish(direction.START)"
      >
      <span class="radio-label">start</span>
    </label>
    <label class="radio-inline list-inline-item">
      <input type="radio" name="addWishToDirection"
             [checked]="wishListService.addWishDirection === direction.END"
             (change)="selectDirectionAddWish(direction.END)"
      >
      <span class="radio-label">end</span>
    </label>
  </form>

  <form class="col-md-6 text-right hide-done-wishes-wrapper">
    <label class="list-inline-item">Hide done wishes: </label>
    <span class="list-inline-item big-right-checkbox" (click)="hideDoneStatus = !hideDoneStatus">
      <i *ngIf="!hideDoneStatus" class="fa fa-square-o" aria-hidden="true"></i>
      <i *ngIf="hideDoneStatus" class="fa fa-check-square-o square" aria-hidden="true"></i>
     </span>
  </form>

</div>

<ul class="wishes f16" dnd-sortable-container [sortableData]="wishes">
  <li *ngFor="let wish of wishes | hideDone: hideDoneStatus; let i = index"
      dnd-sortable [sortableIndex]="i"
      [dragEnabled]="!wishInListService.editWishMode"
      (onDropSuccess)="updateList()"
      dnd-sortable-handle
  >
    <wl-wish-in-list
      [wish]="wish"
      [index]="i"
      (wishDelete)="deleteWish(wish)"
    ></wl-wish-in-list>
  </li>
</ul>
